[submodule "rtb"]
	path = petercorke/rtb
	url = https://github.com/petercorke/robotics-toolbox-matlab
[submodule "smtb"]
	path = petercorke/smtb
	url = https://github.com/petercorke/spatial-math
[submodule "common"]
	path = petercorke/common
	url = https://github.com/petercorke/toolbox-common-matlab
[submodule "modernrobotics"]
	path = modernrobotics
	url = https://github.com/sadegroo/ModernRobotics
